<div class="sub-header-container" #navbar>
    <div class="left">
        <ul>
            <li><a href="#">Monochromatic</a></li>
            <li><a href="#">Nature</a></li>
            <li><a href="#">Film</a></li>
            <li><a href="#">Street Photography</a></li>
            <li><a href="#">Animals</a></li>
        </ul>
    </div>
    <!-- <div class="right">
        <ul>
            <li class="homelink" href="#home">
                <a href="#">
                    <img src="assets/images/output-onlinepngtools.png" height="60px" width="60px">
                </a>
            </li>
        </ul>
    </div> -->
</div>