.sub-header-container {
    // background-color: rgba(240, 235, 227, 0.5);
    // background-color: rgba(32, 24, 16, 0.7);
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    height: 60px;
    width: 100%;
    line-height: 60px;
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    transition: top 0.3s;
    overflow-y: hidden;

    .scrollmenu {
        overflow: auto;
        white-space: nowrap;
        scrollbar-width: none;
        /* Firefox */
        // -ms-overflow-style: none;
        /* Internet Explorer 10+ */
    }

    // .scrollmenu::-webkit-scrollbar {
    //     /* WebKit */
    //     width: 0;
    //     height: 0;
    // }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-left: 25px;
        // margin-right: 25px;
    }

    li {
        display: inline;
        margin-right: 10px;

        a {
            text-decoration: none;
            color: #534f4f;
        }

        a:link,
        a:visited {
            color: #534f4f;
            transition: color 0.2s;
        }

        a:hover,
        a:active {
            color: #e67e22;
        }
    }
}