footer {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        text-decoration: none;
        color: rgb(127, 127, 127);
    }
}

.demo-images {
    color: rgb(127, 127, 127);
}