<div id="about" class="container">
    <h1>About Me</h1>
    <div class="main">
        <div class="photo">
            <img alt="team" src="assets/images/annie-spratt-QckxruozjRg-unsplash.jpg">
        </div>
        <div class="content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus laudantium doloremque quisquam qui
                exercitationem, at voluptate, sunt sint, nesciunt quia enim! Nostrum ex, animi voluptate possimus
                accusantium
                illum fugiat molestiae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus laudantium
                doloremque
                quisquam qui exercitationem, at voluptate, sunt sint, nesciunt quia enim! Nostrum ex, animi voluptate
                possimus
                accusantium illum fugiat molestiae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
                laudantium
                doloremque quisquam qui exercitationem, at voluptate, sunt sint, nesciunt quia enim! Nostrum ex, animi
                voluptate
                possimus accusantium illum fugiat molestiae.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus laudantium doloremque quisquam qui
                exercitationem, at voluptate, sunt sint, nesciunt quia enim! Nostrum ex, animi voluptate possimus
                accusantium
                illum fugiat molestiae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus laudantium
                doloremque</p>
        </div>
    </div>
</div>