/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Open-sans-light;
    src: url(assets/fonts/Open_Sans/static/OpenSans-Light.ttf);
}

@font-face {
    font-family: Signature;
    src: url(assets/fonts/just-signature-font/JustSignature-92w7.ttf);
}

* {
    box-sizing: border-box; //This makes sure that the padding and border are included in the total width and height of the elements.
    margin: 0;
    padding: 0;
    font-family: Open-sans-light;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Open-sans-light;
}

html {
    scroll-behavior: smooth;
}

::selection {
    color: #F0EBE3;
    background: #7D9D9C;
}

::-moz-selection {
    /* Code for Firefox */
    color: #F0EBE3;
    background: #7D9D9C;
}