<div class="main" id="#home">
    <div class="nav">
        <div class="hero">
            <img src="assets/images/output-onlinepngtools (1).png" alt="logo">
        </div>
        <div class="menu">
            <ul>
                <li><a href="https://instagram.com" target="_blank"><i class="fa fa-instagram fa-2x"
                            aria-hidden="true"></i></a></li>
                <li><a href="https://pininterest.com" target="_blank"><i class="fa fa-pinterest fa-2x"
                            aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="temp">
    <div class="hero-text-box">
        <h1>John Doe <br><span>Photography</span></h1>
        <div class="btns">
            <a class="btn btn-full" href="#works">Works</a>
            <a class="btn btn-ghost" href="#about">About</a>
            <a class="btn btn-ghost" href="#contact">Contact</a>
        </div>
    </div>
    </div>
</div>